   
   @media screen and (min-width:769px) and (max-width: 992px) {
  }
  p{
      color: rgba(74, 142, 170, 1);
      border: 1px solid;
      font-size: 25;
      text-align: left
      padding; text-align: left;
        
  }article{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align:center ;
    }
    p{
        
        color:  rgba(74, 142, 170, 1);
        border: 1px solid;
        
        font-size: 22px;
      
    }

     h3{
        font-size: 25px;
        height: auto;
        width: auto;
    }
    
  
    